<div class="header">
  <h1 class="text-center"><a href="http://www.>slashfilm.com/"> /Film</a> Scraper</h1>
  <button id="new-scrape" class="btn btn-info btn-sm">Check for new articles</button>
</div>
