.header{
  width: 100%;
  background-color: navajowhite;
  margin-bottom: 1rem;
  padding:1rem;
}

.footer{
  width: 100%;
  padding:.2rem;
}

#new-scrape{
  margin:0 auto;
  display:block;
}

div.footer>h5>a{
  text-decoration: none;  
}

.add-note, .save-note, .save-old-note, .unlock-note, .delete-note{
  margin-bottom: 1rem;
}

.comment-wrapper{
  margin-right: 10%;
}

.comments-wrapper{
  margin-bottom: 1.5rem;
}

form.comment-wrapper > div.form-group{
  margin: 7px 0px;
}

form.comment-wrapper input, form.comment-wrapper textarea {
  line-height: 1;
  font-size: .8rem;
  padding: 3px 5px;
}

form.comment-wrapper>.btn-sm {
  font-size: .7rem;
}